<html>
  <head>
  	<title>HisCinema</title>
  </head>

  <body>
  	<h1>VIDEO LINKS</h1>
  	<a href="/load/">TEST</a><hr>

    <div>
      <center>
      <video width = "500" controls>
        <source src = {{video}} type="video/mp4">
      Your browser does not support the video tag.
      </video>
      </center>
    </div>

    <a href="http://video.hiscinema.com/F1">Video 1</a><hr>
		<a href="http://video.hiscinema.com/F2">Video 2</a><hr>
		<a href="http://video.hiscinema.com/F3">Video 3</a><hr>
		<a href="http://video.hiscinema.com/F4">Video 4</a><hr>
  </body>
</html>
